fastapi==0.111.0
uvicorn[standard]==0.30.1
SQLAlchemy==2.0.31
asyncpg==0.29.0

torch==2.2.2
torchvision==0.17.2
transformers==4.41.2

albumentations==1.4.14
albucore==0.0.13
opencv-python-headless==4.10.0.84
scikit-image==0.24.0
scikit-learn==1.6.1
numpy==1.26.4
polars==1.9.0

tqdm==4.66.4
psutil==5.9.8
requests==2.32.3

git+https://github.com/openai/CLIP.git