requests>=2.31.0
google-cloud-storage>=2.15.0
fastapi>=0.115.12
ftfy>=6.3.1
joblib>=1.4.2
numpy>=2.0.0
pillow>=11.1.0
polars>=1.26.0
pydantic>=2.11.2
regex>=2024.11.6
scikit-learn>=1.6.1
torch>=2.6.0
torchvision>=0.21.0
tqdm>=4.67.1
uvicorn>=0.34.0
psutil>=0.3.0
sqlalchemy
asyncpg
pgvector[sqlalchemy]==0.2.3
opencv-python
aiohttp==3.9.5
albumentations==1.4.14
albucore==0.0.13
git+https://github.com/openai/CLIP.git 